@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Rubik+Iso&family=Source+Sans+Pro:ital,wght@0,300;1,300&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Outfit', sans-serif;
}
body{
  background: black;
}

h1,h4,p,a{
  text-decoration: none;
  color: white;
}
ul{
  
  list-style-type: none;
}

.btn{
  padding: 12px 32px;
  font-size: 22px;
  text-transform: uppercase;
  background: rgb(239, 239, 22);
  color: black;
  border: 1px solid white;
  font-weight: 600;
  cursor: pointer;
  border-radius: 15px;
}
.btn-light{
  background: transparent;
  color: white;
}

.btn:hover{
  background: rgb(255, 255, 255,0.2);
  color: white;
  transition: 0.3s;
}